<div>
  <sidebar-item-section name="Accueil">
    <sidebar-item title="Facture" routerLink="/facture">
    </sidebar-item>
    <sidebar-item title="A propos" routerLink="/admin/medias">
    </sidebar-item>
    <sidebar-item title="Contacts" routerLink="/contact">
    </sidebar-item>
  </sidebar-item-section>
  <sidebar-item-section name="Entreprise">
    <sidebar-item title="Compte dépanneur" routerLink="/admin/terminal">
    </sidebar-item>
    <sidebar-item title="Liste des factures" routerLink="/admin/recycle-bin">
    </sidebar-item>
  </sidebar-item-section>
</div>
