<div>
  <sidebar-item-section name="Accueil">
    <sidebar-item title="Facture" routerLink="/facture">
    </sidebar-item>
    <sidebar-item title="A propos" routerLink="/a-propos">
    </sidebar-item>
    <sidebar-item title="Contacts" routerLink="/contact">
    </sidebar-item>
  </sidebar-item-section>
  <sidebar-item-section name="Entreprise">
    <sidebar-item title="Compte dépanneur" routerLink="/admin/comptes">
    </sidebar-item>
    <sidebar-item title="Liste des factures" routerLink="/admin/facture">
    </sidebar-item>
  </sidebar-item-section>
</div>
